html,
body {
    margin: 0;
    min-height: 100%;
    font-family: system-ui, sans-serif;
}

.app {
    min-height: 100%;
}

@media (max-width: 600px) {
    .app {
        height: calc(100vh - 56px);
        overflow-y: scroll;
    }
}

@media (min-width: 600px) {
    .app {
        height: calc(100vh - 64px);
        overflow-y: scroll;
    }
}

.icon-title {
    font-weight: bold;
    margin-top: -12px;
    min-width: 38px;
}

.icon-title .icon-title-main {
    padding-bottom: 4px;
    border-bottom: 4px solid white;
}

.icon-title .icon-title-space {
    width: 1px;
}

.icon-title .icon-title-sup {
    font-size: 16px;
    position: absolute;
    margin-top: -3px;
    margin-left: 1px;
}

.mdui-toolbar-vec-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
}

.icon-span-btn > span {
    margin-left: 8px;
}